<form action="" method="POST" enctype="multipart/form-data">
    <div>
        <label for="">Image1:</label>
        <input type="file" name="image">
    </div>
     <div>
        <label for="">Image2:</label>
        <input type="file" name="image">
    </div>
     <div>
        <label for="">Image3:</label>
        <input type="file" name="image">
    </div>
    <button type="submit">Issiusti</button>
</form>